$color__background-body: #f2f2f2;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #313131;
$color__text-input: #313131;
$color__text-input-focus: #313131;
$color__link: #313131; //royalblue
$color__link-visited: #313131; //purple
$color__link-hover: #313131; //midnightblue
$color__text-main: #313131;
$color__text-heading: #313131;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$color-black: #000;
$color-almost-black: #313131;
$color-white: #fff;
$color-blue: #479FDB;
$color-golden-yellow: #FFC600;
$color-gray: #8f8f8f;
// $color-purple: #6c4889;
$color-purple: #582b81;
$color-purple-light: #6c4889;
$color-light-yellow: #fdf4c9;
$color-yellow: #f9df5a;


$color-primary: $color-purple;
$color-secondary: $color-yellow;

$color-yellow-second: #fee479;
$color-yellow-light: #fef4c9;

// $color-link: #000;
// $color-link: $color__link;