@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap');

// stylelint-disable value-keyword-case
$font__main: 'Source Sans Pro', sans-serif;
// stylelint-enable value-keyword-case
$font__code: $font__main;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
